#detail-wrapper {
  width: 100%;
  margin: 70px auto;
  padding: 0 15px;
  text-align: left;
}

#detail-title {
  color: #e6332a;
  font-size: 24px;
  font-weight: bold;
}

.content {
  font-family: TATSanaSuksa;
  color: #333333;
  font-size: 16px;
  line-height: 1.8;
}

#condition-title {
  font-size: 16px;
  font-weight: bold;
}

@media only screen and (min-width: 420px) {
  #detail-title {
    font-size: 36px;
  }

  .content {
    font-size: 18px;
  }
}
