.footer-1 {
  width: 100%;
  padding: 44px 30px;
  background-color: #fafafa;

  &-wrapper {
    padding: 0 30px;
    text-align: left;
    font-family: TATSanaSuksa;
    font-size: 14px;
    color: #333333;

    img {
      width: 148px;
    }
  }

  &-head {
    font-weight: bold;
    color: #e6332a;
    font-size: 16px;
    margin: 15px 0 10px 0;
  }

  a {
    text-decoration: none;
    color: #333333;
  }
}

@media only screen and (min-width: 577px) {
  .footer-1 {
    &-wrapper {
      max-width: 1140px;
      margin: 0 auto;

      img {
        width: 108px;
      }
    }
    
    &-head {
      margin-top: 24px;
    }
  }
}
