.tat-wrapper {
  text-align: center;
  padding: 0 30px;
}

.ktc-wrapper {
  text-align: center;
  padding: 0 30px;
  img {
    width: 56px;
  }
}

@media only screen and (min-width: 420px) {
  #link-wrapper {
    margin: 150px !important;
    padding: 0 15px !important;
  }

  .ktc-wrapper img {
    width: 102px;
  }
}
