.navbar-item {
  text-align: right;
  text-decoration: none;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
  padding: 0.5em 0 !important;
}

@media only screen and (min-width: 420px) {
  #brand {
    display: none;
  }

  #responsive-navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .navbar {
    display: inline-block;
    width: 100%;
    padding: 0 1em !important;
    padding-top: 5px !important;
  }

  .navbar-item {
    text-align: center;
    font-family: TATSanaChon, sans-serif;
    font-size: 14px;
    color: #000000;
    padding: 1em 1em 0 !important;
    cursor: pointer;

    &::after {
      display: block;
      content: '';
      padding-top: 1em;
      border-bottom: 6px solid #213a8f;
      transform: scaleX(0);
      transition: color 0.3s ease-in-out;
      transition: transform 0.3s ease-in-out;
      transition: color 0.3s ease-in-out;
      -webkit-transition: transform 0.3s ease-in-out;
    }

    &:hover {
      color: #333333;
      &::after {
        transform: scaleX(1);
      }
    }
  }
}
